.row
  .col-md-12
    %ol.breadcrumb
      %li.active
        = fa_icon "chevron-right"
        Liste des mises à jour

.row
  .col-md-12
    .a.btn.btn-default.pull-right{href: "#"}
      = fa_icon "plus"
      Nouvelle mise à jour

.row
  .col-md-12
